extends ../layouts/header

block content
  if !user
    .px-5
      .alert.alert-danger Bạn chưa đăng nhập &nbsp;
        a.btn.btn-primary(href='/auth/login') Login
  else
    .info
      .row.justify-content-center
        .col-sm-6.col-md-offset-2.col-md-4
          .info-card
            img(style='width: 100%', src=src=user.avatar)
            .info-card-details.animate
              .info-card-header
                h1= user.displayName 
                h3  @nvlinh99 
              .info-card-detail
                table.table
                  tr
                    td Name
                    td= user.displayName
                  tr
                    th Username
                    td= user.username
                  tr
                    th Email
                    td= user.email
                h4.pt-4 Cập nhật ảnh đại diện
                hr
                form(method="post", enctype="multipart/form-data")
                  .form-group
                    .upload-btn-wrapper
                      button.btn-upload
                        i.fas.fa-image
                        | &nbsp;Choose a file
                      input#avatar.form-control-file.inputs(type='file', name='avatar')
                  
                  button.btn.btn-block.btn-primary Update        